name: CI

on:
  pull_request:
  merge_group:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main

jobs:
  test:
    name: Type Check & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Run type check
        run: bun run typecheck

      - name: Run tests
        run: bun run test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Run Biome
        run: bunx @biomejs/biome ci . 